body{
	padding-top:50px;
}


#footer{
    margin-top:50px;
}

img.details{
    width:33%;
    margin: 15px auto;
    
}

.img-thumb{
    width:auto;
    height:200px;
}

.left-border{
    border-left:1px solid #E8E8E8;
    height:100%;
}
.col-md-2{
         
}
.img-checkout{
    width:auto;
    height:100px;
}
